<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>

<body>

  


    <h1>Kyutae Gavin Kim</h1>
    <p>Workshop</p>

<!-- Links -->
    <a href="https://www.linkedin.com/in/kimgavin" target="_blank">LinkedIn</a> |
    <a href="gavonk.com" target="_blank">Objects</a> |
    <a href="gavonk.com" target="_blank">Recipes</a> 
    <br>
    <br>
    <a href="gavonk.com" target="_blank">Pictures</a>  |
    <a href="gavonk.com" target="_blank">Listening</a>  
    

  </div>
</div>

<!-- Design Portal Login -->
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    For those with credentials, <a href="https://gavonk.com/login" class="alert-link">Design Portal</a> is available. 
  </div>


<!-- Writing -->
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon"></span>Professional</h3>
      <ul>
        <li>d</li>
        <li>dd</li>
        <li>ddd</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon"></span>Creative</h3>
      <ul>
        <li>dhfiaewhflieahilf</li>
        <ul>
          <li>Design</li>
          <li>Cooking</li>
          
        </ul>
      </ul>
      
    </div>
  </div> <!-- row -->
<hr>


<!-- Posts -->
<p class="post">
        ......................................... <br>
        <h4>Test Title</h4>
        [<a href="gavonk.com">Link</a>]
    </p>
        <p class="abstract">
            21 April, 2020
            <br><br>
            Words here.
            <br>
        </p>

<p class="post">
        ......................................... <br>
        <h4>Test Title 2</h4>
        [<a href="gavonk.com">Link</a>]
    </p>
        <p class="abstract">
            21 April, 2020
            <br><br>
            Words here.
            <br>
        </p>

</body>
</html>
