<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <title>Kyu Gavin Kim</title>
</head>

<body>
  
    <h1 style="font-weight: bold">Kyu Gavin Kim</h1>
    

<!-- Links -->
    <a href="https://www.linkedin.com/in/kimgavin" target="_blank">linkedin</a> |
    <a href="GavinKim_Resume.pdf" target="_blank">resume</a> |
    <a href="http://www.gavinkyu.com/xxx" target="_blank">objects</a> |
    <a href="https://open.spotify.com/user/ktkim92" target="_blank">listening</a> |
    <a href="https://www.instagram.com/_gavkyu/" target="_blank">gazing</a> 

<br><br><br>

<!-- Writing -->
 
    <p><highlight>I work to connect software platforms and users in a stable, functional, and accessible manner.</highlight> Throughout 6 years of international experience, I interviewed, architected, and implemented solutions for 100+ clients spanning the fashion, manufacturing, and aviation industries. 
    </p>
<br>
    <p>I am a big believer in not taking a linear approach to success. My pursuit of broad knowledge equips those around me with a shared foundation. 
    </p>

    <p>
    This shared foundation is essential for connecting cross-functional teams, and for developing intuitive products. Pulling in knowledge from different cogs of the machine, I act as a resource for negotiating the delivery requirements and the associated trade-offs.
    </p>
<br>
    <p>
    I spent time launching a v2 of a partner portal at a manufacturing platform startup. This app augmented domestic manufacturers' core business by filling their slack capacity with jobs that best fit their capability. The v2 launch reduced bugs, set up functionalities to dynamically negotiate price points and delivery dates, while feeding the negotiation data back to the machine learning algorithm for setting prices.
    </p>

    <p>Previously, I started my career at Booz Allen Hamilton in DC upon graduation from the University of Virginia. My formal studies covered multi-disciplinary engineering, with a focus on climate resiliency and global access to clean water. During my studies, I was granted opportunities to work on defense projects involving 3D printing, and involving mobile apps to encourage peer communications in Afghanistan.
    </p>

<br>
    <p>I laid the groundwork in Northern Virginia at Thomas Jefferson HS for Science and Technology after the family's emigration from Seoul. My childhood was spent with my grandmother in rural Korea while the parents laid foundations for a better life, through pursuing a PhD in Nanjing.
    </p>
<br>
    <p>Currently, I provide technology consultation services for emerging fashion brands. I also provide consultations for capturing a special moment within a physical keepsake: a metamorphosis of a memory into an object reality.
      If you are interested in learning more, you can reach me at info@gavinkyu.com. 
    </p>
 

<!-- Posts -->
<p class="post">
        ................................................ <br>
        <h2>Spring/Summer 2020</h2>
        [<a href="gavinkyu.com">Link</a>]
    </p>
        <p class="abstract">
            21 April, 2020
            <br><br>
            What a time for a change! My next opportunity after JOOR ended up falling through due to a industry-wide hiatus. The plan was to cross off a bucket-list task: to learn how to work within a high-pressure team in a kitchen. Because I can't do so, I'm taking the summer to give back to NY by preparing and delivering meals to those in need alongside Citymeals on Wheels. This will have to do for my bucket list.
            <br>
        </p>



</body>
</html>
